{% extends 'layout.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <form id="product_detail_form" class="container-fluid" method="post" action="/cart/add">
        <h1>{{ product.name }}</h1>
        <p>Category: {{ product.category_id }}</p>
        <p>Description: {{ product.content }}</p>
        <p>Price: {{ product.price }} &#8363;</p>
        {% if product.discount %}
            <p>Discount: {{ product.discount }}%</p>
            <p>Discounted Price: {{ product.price * (100 - product.discount) / 100 }} &#8363;</p>
        {% endif %}
        {#        <img src="{{ product.image_link }}" alt="{{ product.name }}">#}
        <label for="quantity">Số lượng <input id="quantity" type="number" name="quantity" value="1" min="1"> </label>
        <button type="submit">Thêm vào giỏ hàng</button>
        <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
        <input type="hidden" id="name" name="name" value="{{ product.name }}">
        <input type="hidden" id="content" name="content" value="{{ product.content }}">
        <input type="hidden" id="price" name="price" value="{{ product.price }}">
        <input type="hidden" id="image_link" name="image_link" value="{{ product.image_link }}">
    </form>

{% endblock %}
{% block scripts %}
    <script>
        // $(document).ready(function() {
        //     $('#product_detail_form').submit(function(event) {
        //         event.preventDefault();
        //
        //         const formData = $(this).serialize();
        //
        //         $.ajax({
        //             type: 'POST',
        //             url: '/cart/add',
        //             data: formData,
        //             success: function(response) {
        //                 console.log(response);
        //                 alert('Sản phẩm đã được thêm vào giỏ hàng thành công!');
        //             },
        //             error: function(xhr, status, error) {
        //                 console.error(xhr.responseText);
        //             }
        //         });
        //     });
        // });

    </script>
{% endblock %}