{% extends './layout.twig' %}
{% block title %}Edit Products{% endblock %}
{% block content %}
    <div class="container">
        <div class="edit-product-form" id="edit-product-form">
            <h2>Thông tin sản phẩm</h2>
            <form id="edit-products-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="productId">Mã sản phẩm:</label>
                            <input type="text" class="form-control" id="productId" name="productId" readonly
                                   value="{{ product.id }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="productName">Tên sản phẩm:</label>
                            <input type="text" class="form-control" id="productName" name="productName"
                                   value="{{ product.name }}" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="productContent">Mô tả:</label>
                            <input type="text" class="form-control" id="productContent" name="productContent"
                                   value="{{ product.content }}" required>
                        </div>

                        <div class="image-container mb-4">
                            <img id="productImagePreview" src="/public/images/{{ product.image_link }}"
                                 alt="Hình ảnh sản phẩm" class="img-fluid"
                                 style="max-width: 200px;">
                            {% if product.image_link is not null or "Array"%}
                                <button class="btn btn-outline-danger" onclick="deleteImageFromDB()">Xoá hình ảnh
                                </button>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label for="productImage" class="form-label">Thay/Thêm hình ảnh:</label>
                            <input type="file" class="form-control-file" id="productImage" name="productImage"
                                   onchange="previewImage(event)">
                        </div>

                        <div id="imagePreview" class="mb-3" style="display: none;">
                            <label for="currentImage" class="form-label">Xem trước hình ảnh:</label><br>
                            <img id="preview" src="#" alt="Xem trước hình ảnh" class="img-fluid rounded"
                                 style="max-width: 200px;">
                            <button type="button" class="btn btn-danger mt-2" onclick="deleteImage()">Xóa</button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="productPrice">Giá:</label>
                            <input type="text" class="form-control" id="productPrice" name="productPrice"
                                   value="{{ product.price }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="productCategoryId">Mã thể loại:</label>
                            <select class="form-control" id="productCategoryId" name="productCategoryId">
                                <option value="1">Bánh mì</option>
                                <option value="2">Bánh ngọt</option>
                                <option value="3">Bánh kem nhỏ</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="productStock">Số lượng:</label>
                            <input type="text" class="form-control" id="productStock" name="productStock"
                                   value="{{ product.stock }}" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Lưu</button>
                <a href="/admin/products" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('edit-products-form').addEventListener('submit', function (event) {
                // event.preventDefault(); // Ngăn chặn việc gửi form đi
                const formData = new FormData(this);

                // Hiển thị dữ liệu trên console
                for (const pair of formData.entries()) {
                    console.log(pair[0] + ': ' + pair[1]);
                }

                // Nếu bạn muốn gửi dữ liệu form đi sau khi đã hiển thị trên console,
                // bạn có thể sử dụng AJAX hoặc gửi form bằng cách thêm code ở đây.
            });
        });
    </script>
    <script src="/public/js/global.js"></script>
{% endblock %}
