{% set page = 'suppliers' %}
{% extends './layout.twig' %}

{% block title %}{{ supplier.name }} | Edit{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block content %}
<div class="w-75 m-auto">
    <div class="mb-4">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">
                <a class="btn btn-light btn-sm d-none d-sm-inline-block" role="button" href="/admin/suppliers">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                {{ supplier.company_name }}
            </h3>
            <a class="btn btn-outline-success btn-sm d-none d-sm-inline-block" role="button" href="/admin/suppliers/{{ supplier.id }}">Lưu</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label for="companyName" class="form-label">Company Name:</label>
                <input type="text" class="form-control" id="companyName" value="{{ supplier.company_name }}" >
            </div>
            <div class="mb-3">
                <label for="contactName" class="form-label">Contact Name:</label>
                <input type="text" class="form-control" id="contactName" value="{{ supplier.contact_name }}" >
            </div>
            <div class="mb-3">
                <label for="contactEmail" class="form-label">Contact Email:</label>
                <input type="email" class="form-control" id="contactEmail" value="{{ supplier.contact_email }}" >
            </div>
            <div class="mb-3">
                <label for="contactPhone" class="form-label">Contact Phone:</label>
                <input type="text" class="form-control" id="contactPhone" value="{{ supplier.contact_phone }}" >
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <textarea class="form-control" id="address" >{{ supplier.address }}</textarea>
            </div>
            <div class="mb-3">
                <label for="postalCode" class="form-label">Postal Code:</label>
                <input type="text" class="form-control" id="postalCode" value="{{ supplier.postal_code }}" >
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country:</label>
                <input type="text" class="form-control" id="country" value="{{  supplier.country }}" >
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}